.Rproj.user
.Rhistory
.RData
.Ruserdata
Phase 2 - Data description.html
Phase 2 - Data description_files
Phase-2---Data-description_files
Phase-3---Data-analysis_files
Phase 3 - Data analysis_files
Phase 3 - Data analysis.html
dummy_regression_results.tex
regression_results.tex
joined_dataset.rds

